@import '~src/themes/colors';

@mixin our-team-theme() {
  html {
    font-size: 10px;
    color: $black;
  }

  body {
    background-color: $light-grey;
    font-size: 1.5rem;
  }

  .our-team-app {
    h1 {
      color: $primary;
    }

    a {
      color: $primary;
    }

    p {
      margin-bottom: 0rem;
    }
  }
}