<section class="page">
  <h1 class="page-title text-center mt-5 mb-5">{{ pageElement.attributes.title }}</h1>
  <div class="page-members d-flex justify-content-center flex-wrap">
    <!-- TODO: Think about other solution -->
    <!-- I don't like idea to hardode first, second and third -->
    <app-member-card class="mr-4" [card]="pageElement.attributes.memberCards.first"></app-member-card>
    <app-member-card class="mr-4" [card]="pageElement.attributes.memberCards.second"></app-member-card>
    <app-member-card [card]="pageElement.attributes.memberCards.third"></app-member-card>

  </div>
</section>

